body {
    background-color: rgb(214, 185, 112);
}

nav {
    background-color: rgba(167, 107, 196, 0.863);
    display: flex;
    border-radius: 10px;
}

nav h1, nav ul {
    text-align: center;
    list-style-type: none;    
}

nav h1 {
    flex: 1;
}

nav ul {
    flex: 3;
    display: flex;
    padding: 0px;
}

nav ul li {
    flex: 1;
}

h2 {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: 10px;
    background-color: rgb(67, 103, 117);
    padding: 20px;
    border-radius: 10px;
}

footer p {
    display: inline;
}

.footerfloatright {
    float: right;
    margin-bottom: 100px;
}

/*id's*/
#aboutme {
    flex: 1;
    flex-direction: row;
    background-color: darkkhaki;
    border-radius: 10px;
    padding: 12px;
    margin-top: 10px;
}

#aboutme img {
    float: right;
}

/*classes*/
.home {
    text-align:center;
    background-color: darkkhaki;
    margin-top: 10px;
    border-radius: 10px;
}

.achievements {
    text-align: left;
    padding: 10px;
}

.achievements ul li {
    margin-bottom: 10px;
}