body {
    background-color: rgb(214, 185, 112);
    font-family: 'JetBrains Mono', monospace;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

nav {
    background-color: rgba(167, 107, 196, 0.863);
    display: flex;
    border-radius: 5px;
    height: 65px;
    align-items: center;
}

nav h1, nav ul {
    text-align: center;
    list-style-type: none;    
}

nav h1 {
    flex: 1;
}

nav ul {
    flex: 3;
    display: flex;
    padding: 0px;
    height: 65px;
    align-items: center;
}

nav ul li {
    flex-grow: 1;
    align-items: center;
}

nav a {
    display: block;
    text-align: center;
}

nav ul li:hover {
    background-color: rgb(214, 185, 112);
    display: block;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

h2 {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    background-color: rgb(67, 103, 117);
    padding: 10px;
    border-radius: 5px;
}

footer p {
    padding-left: 40px;
    flex: 10;
    display: inline;
}

.footerfloatright {
    flex: 1;
    padding-left: 0px;
}

/*id's*/
#aboutme {
    flex: 1;
    flex-direction: row;
    background-color: darkkhaki;
    border-radius: 5px;
    padding: 12px;
}

#aboutme img {
    float: right;
    height: 250px;
    width: auto;
    border-radius: 5px;
}

/*classes*/
.home {
    text-align:center;
    background-color: darkkhaki;
    border-radius: 5px;
}

.fullAchievements {
    background-color: darkkhaki;
}

.achievements {
    display: flex;
    flex-direction: row;
    text-align: left;
    padding: 10px;
    background-color: darkkhaki;
}

.achievements h3 {
    text-align: center;
}

.achievements ul {
    padding-left: 0px;
    list-style-type: none;
    text-align: center;
}

.awards, .roles {
    flex: 1;
}